POSTGRES_DB=heavyrentpro
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@db:5432/heavyrentpro
REDIS_URL=redis://redis:6379/0
SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=VALUE
CELERY_BROKER_URL=VALUE
EMAIL_HOST=VALUE
EMAIL_PORT=VALUE
EMAIL_HOST_USER=VALUE
EMAIL_HOST_PASSWORD=VALUE
FRONTEND_URL=localhost:3000
DJANGO_SETTINGS_MODULE=config.settings.development
CELERY_RESULT_BACKEND=redis://redis:6379/0