POSTGRES_DB=VALUE
POSTGRES_USER=VALUE
POSTGRES_PASSWORD=VALUE
DATABASE_URL=VALUE    
REDIS_URL=VALUE
SECRET_KEY=VALUE
DEBUG=VALUE
ALLOWED_HOSTS=VALUE
CELERY_BROKER_URL=VALUE
EMAIL_HOST=VALUE
EMAIL_PORT=VALUE
EMAIL_HOST_USER=VALUE
EMAIL_HOST_PASSWORD=VALUE
FRONTEND_URL=VALUE